<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">nivel</th>
      <th scope="col">nombre</th>
      <th scope="col">estado</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fila of listaSECOP">
      <td>{{fila.nivel}}</td>
      <td>{{fila.nombre}}</td>
      <td>{{fila.estado}}</td>
    </tr>
  </tbody>
</table>